<header class="py-6 font-semibold sm:py-10 text-neutral-900 dark:text-neutral print:hidden">
  <nav class="flex justify-between">
    {{/* Site logo/title */}}
    <div>
      {{ if .Site.Params.Logo -}}
        {{ $logo := resources.Get .Site.Params.Logo }}
        {{ if $logo }}
          <a href="{{ "" | relLangURL }}">
            <img
              src="{{ $logo.RelPermalink }}"
              width="{{ div $logo.Width 2 }}"
              height="{{ div $logo.Height 2 }}"
              class="max-w-[10rem] max-h-[10rem] object-scale-down object-left"
              alt="{{ .Site.Title }}"
            />
          </a>
        {{ end }}
      {{ else }}
        <a
          class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2"
          rel="me"
          href="{{ "" | relLangURL }}"
          >{{ .Site.Title | markdownify | emojify }}</a
        >
      {{- end }}
      {{ partial "allLanguages.html" . }}
    </div>
    {{/* Main menu */}}
    {{ if or .Site.Menus.main (.Site.Params.enableSearch | default false) }}
      <ul class="flex flex-col list-none ltr:text-right rtl:text-left sm:flex-row">
        {{ if .Site.Menus.main }}
          {{ range .Site.Menus.main }}
            <li class="mb-1 sm:mb-0 ltr:sm:mr-7 ltr:sm:last:mr-0 rtl:sm:ml-7 rtl:sm:last:ml-0">
              <a
                class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2"
                href="{{ .URL }}"
                title="{{ .Title }}"
                >{{ .Name | markdownify | emojify }}</a
              >
            </li>
          {{ end }}
        {{ end }}
        {{ if .Site.Params.enableSearch | default false }}
          <li class="ltr:sm:mr-7 ltr:sm:last:mr-0 rtl:sm:ml-7 rtl:sm:last:ml-0">
            <button
              id="search-button"
              class="text-base hover:text-primary-600 dark:hover:text-primary-400"
              title="{{ i18n "search.open_button_title" }}"
            >
              {{ partial "icon.html" "search" }}
            </button>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </nav>
</header>
