+++
title = "Resources"
date = 2022-07-15T16:04:30+02:00
category = "resources"
+++

<br>
Contact me:&nbsp;&nbsp;<a href="mailto:hotlittlewhitedog@gmail.com">hotlittlewhitedog@gmail.com</a>
<br>
<br>
