+++
title = ""
date = "2022-07-10"
type = "homepage"
keywords = "['biblemulti.org', 'bible multi', bible kjv', 'kjv', 'bible app', 'bible apps', 'bible android', 'bible apk', 'bible ios', 'bible mac', 'bible linux', 'bible terminal', 'bible flatpak', 'bible snap', 'bible christian', 'christian', bible multi the light', 'biblemultithelight', bible multi the life', 'biblemultithelife', 'bible multi the son of man', 'biblemultithesonofman', 'sonofman', 'god', 'jesus', 'the life', 'the light', 'free', 'hlwd', 'torrent', 'evangelism', 'apocalypse', 'revelation', 'alternate backup', 'bible offline']" 
+++

Hi, I’m a Christian programmer and I made these Bible apps with my heart to serve the Lord.<br>
<br>
3 apps are available for several configurations.<br>  
<br>
The apps are not the most beautiful apps (if you have another it’s fine for me), but I think they are useful.<br>
<br>
The apps are offline, without ads, in English, French, Spanish, Portuguese, Italian.<br>
<br>
It’s totally free :slight_smile:<br>
<br>
<u>Bibles included</u>: King James Version, Louis Segond, Ostervald, Diodati, Reina Valera, Almeida, Schlachter, Elberfelder, Romanian Bible (Romanian Cornilescu 1928), Polish Bible (Biblia Warszawska 1975), Russian Bible (Russian Synodal Translation 1876), Turkish Bible (New Turkish Bible 2001), Swahili Bible (Swahili Union Version 1997), Arabic Bible (Smith & Van Dyke), Hindi Bible, Bengali Bible (Bengali C.L. Bible 2016), Chinese Bible (Chinese Union Version Simplified), Japanese Bible (New Japanese Bible 1973).<br>
<br>
<blockquote><b>John 14.6</b>: Jesus saith unto him, I am the way, the truth, and the life: no man cometh unto the Father, but by me.</blockquote>
<br>

<table>
<tr>
<td align="center">"The Light"</td>
<td align="center">"The Life"</td>
<td align="center">"The Sonofman"</td>
</tr>
<tr>
<td align="center" valign="top"><img src="images/thelight2.png"></td>
<td align="center" valign="top"><img src="images/thelife2.png"></td>
<td align="center" valign="top"><img src="images/som2b.png"></td>
</tr>
</table>

<hr>
<h1>“The Light” (Android, Android TV)</h1>
Contains Bible Audio, Reading plans, Cross references, Harmony of Gospels, Random verses, Interlinear, Lexicals. Works also on Android TV*, Chromebooks.<br>
<br>
<ul><li><a href="https://play.google.com/store/apps/details?id=org.hlwd.bible">Google</a></li></ul>
<ul><li><a href="https://f-droid.org/packages/org.hlwd.bible">F-Droid</a></li></ul>
<ul><li><a href="/biblemulti/blog/note_android_tv/">* To install the app on Android TV</a></li></ul>
<div style="height:8px">&nbsp</div>
<ul><li>:fire: <a href="/biblemulti/blog/torrent/">Alternate Backups</a></li></ul>

<hr>
<h1>“The Life” (iPhone, iPad, Big Sur, Mac, Linux, Android)</h1>
Simple app to read the Bible.<br>
<br>  
<ul><li><a href="https://apps.apple.com/us/app/bible-multi-the-life/id1502832136">iPhone, iPad, Big Sur</a></li></ul>
<ul><li><a href="https://apps.apple.com/us/app/bible-multi-the-life/id1587163844">Mac</a></li></ul>
<ul><li><a href="https://snapcraft.io/bible-multi-the-life">Linux (Snap)</a></li></ul>
<ul><li><a href="https://flathub.org/apps/org.biblemulti.thelife">Linux (Flatpak)</a></li></ul>
<ul><li><a href="https://www.appimagehub.com/p/2218351">Linux (AppImage)</a></li></ul>
<ul><li><a href="https://play.google.com/store/apps/details?id=org.hlwd.bible_multi_the_life">Android (Google)</a></li></ul>
<ul><li><a href="https://f-droid.org/en/packages/org.hlwd.bible_multi_the_life">Android (F-Droid)</a></li></ul>
<div style="height:8px">&nbsp</div>
<ul><li>:fire: <a href="/biblemulti/blog/torrent/">Alternate Backups</a></li></ul>

<hr>
<h1>“The Sonofman” (Linux, all ARM, Mac, RaspberryPI)</h1>
<blockquote>Terminal application</blockquote>
Works also on Windows (Cygwin), Android (Termux) with PyPI or Git.<br>
<br>
<ul><li><a href="https://snapcraft.io/bible-multi-the-son-of-man">Snap (Linux)</a></li></ul>
<ul><li><a href="https://flathub.org/apps/details/org.hlwd.sonofman">Flatpak (Linux)</a></li></ul>
<ul><li><a href="https://pypi.org/project/sonofman">PyPI (Linux, Mac, RaspberryPI, all ARM)</a></li></ul>
<div style="height:8px">&nbsp</div>
<ul><li>:fire: <a href="/biblemulti/blog/torrent/">Alternate Backups</a></li></ul>

<br>
** All The Glory to God :heart:
