+++
title = ""
date = "2022-07-10"
type = "homepage"
keywords = "['biblemulti.org', 'bible multi', bible kjv', 'kjv', 'bible app', 'bible apps', 'bible android', 'bible apk', 'bible ios', 'bible mac', 'bible linux', 'bible terminal', 'bible flatpak', 'bible snap', 'bible christian', 'christian', bible multi the light', 'biblemultithelight', bible multi the life', 'biblemultithelife', 'bible multi the son of man', 'biblemultithesonofman', 'sonofman', 'god', 'jesus', 'the life', 'the light', 'free', 'hlwd', 'torrent', 'evangelism', 'apocalypse', 'revelation', 'alternate backup', 'bible offline']" 
+++

<center>[ Site sendo traduzido ]</center><br>
<br>
Olá, sou um programador cristão e fiz esses aplicativos para servir ao Senhor.<br>
<br>
3 aplicativos estão disponíveis para várias configurações.<br>
<br>
Os aplicativos não são os mais bonitos (se você tiver outro, ótimo), mas acho que são úteis.<br>
<br>
Os aplicativos estão off-line, sem anúncios, em inglês, francês, espanhol, português e italiano.<br>
<br>
É totalmente gratuito :slight_smile:<br>
<br>
<u>Bíblias incluídas</u>: Almeida, King James Version, Louis Segond, Ostervald, Diodati, Reina Valera, Schalchter, Elberfelder, Bíblia romena (Romanian Cornilescu 1928), Bíblia polaca (Biblia Warszawska 1975), Bíblia russa (Russian Synodal Translation 1876), Bíblia turca (New Turkish Bible 2001), Bíblia suaíli (Swahili Union Version 1997), Bíblia em árabe (Smith & Van Dyke), Bíblia hindi, Bíblia bengali (Bengali C.L. Bible 2016), Bíblia chinesa (Chinese Union Version Simplified), Bíblia japonesa (New Japanese Bible 1973).<br>
<br>
<blockquote><b>João 14.6</b>: Disse-lhe Jesus: Eu sou o caminho, e a verdade e a vida; ninguém vem ao Pai, senão por mim.</blockquote>
<br>

<table>
<tr>
<td align="center">"The Light"</td>
<td align="center">"The Life"</td>
<td align="center">"The Sonofman"</td>
</tr>
<tr>
<td align="center" valign="top"><img src="images/thelight2.png"></td>
<td align="center" valign="top"><img src="images/thelife2.png"></td>
<td align="center" valign="top"><img src="images/som2b.png"></td>
</tr>
</table>

<hr>
<h1>“The Light” (Android, Android TV)</h1>
Contém Bíblia em Áudio, Planos de Leitura, Referências cruzadas, Harmonia dos Evangelhos, Versículos Aleatórios, Interlinear, Léxicos. Também funciona em Android TV* e Chromebooks.<br>
<br>
<ul><li><a href="https://play.google.com/store/apps/details?id=org.hlwd.bible">Google</a></li></ul>
<ul><li><a href="https://f-droid.org/packages/org.hlwd.bible">F-Droid</a></li></ul>
<ul><li><a href="/biblemulti/blog/note_android_tv/">* Para instalar o aplicativo no Android TV</a></li></ul>
<div style="height:8px">&nbsp</div>
<ul><li>:fire: <a href="/biblemulti/blog/torrent/">Backups alternativos</a></li></ul>

<hr>
<h1>“The Life” (iPhone, iPad, Big Sur, Mac, Linux, Android)</h1>
Aplicativo simples para ler a Bíblia.<br>
<br>
<ul><li><a href="https://apps.apple.com/us/app/bible-multi-the-life/id1502832136">iPhone, iPad, Big Sur</a></li> </ul>
<ul><li><a href="https://apps.apple.com/us/app/bible-multi-the-life/id1587163844">Mac</a></li></ul>
<ul><li><a href="https://snapcraft.io/bible-multi-the-life">Linux (Snap)</a></li></ul>
<ul><li><a href="https://flathub.org/apps/org.biblemulti.thelife">Linux (Flatpak)</a></li></ul>
<ul><li><a href="https://www.appimagehub.com/p/2218351">Linux (AppImage)</a></li></ul>
<ul><li><a href="https://play.google.com/store/apps/details?id=org.hlwd.bible_multi_the_life">Android (Google)</a></li></ul>
<ul><li><a href="https://f-droid.org/en/packages/org.hlwd.bible_multi_the_life">Android (F-Droid)</a></li></ul>
<div style="height:8px">&nbsp</div>
<ul><li>:fire: <a href="/biblemulti/blog/torrent/">Backups alternativos</a></li></ul>

<hr>
<h1>“The Sonofman” (Linux, todos ARM, Mac, RaspberryPI)</h1>
<blockquote>Aplicação de terminal</blockquote>
Também funciona no Windows (Cygwin), Android (Termux) com PyPI ou Git.<br>
<br>
<ul><li><a href="https://snapcraft.io/bible-multi-the-son-of-man">Snap (Linux)</a></li></ul>
<ul><li><a href="https://flathub.org/apps/details/org.hlwd.sonofman">Flatpak (Linux)</a></li></ul>
<ul><li><a href="https://pypi.org/project/sonofman">PyPI (Linux, Mac, RaspberryPI, todos ARM)</a></li></ul>
<div style="height:8px">&nbsp</div>
<ul><li>:fire: <a href="/biblemulti/blog/torrent/">Backups alternativos</a></li></ul>

<br>
** Toda a Glória a Deus :heart: