+++
title = ""
date = "2022-07-10"
type = "homepage"
keywords = "['biblemulti.org', 'bible multi', bible kjv', 'kjv', 'bible app', 'bible apps', 'bible android', 'bible apk', 'bible ios', 'bible mac', 'bible linux', 'bible terminal', 'bible flatpak', 'bible snap', 'bible christian', 'christian', bible multi the light', 'biblemultithelight', bible multi the life', 'biblemultithelife', 'bible multi the son of man', 'biblemultithesonofman', 'sonofman', 'god', 'jesus', 'the life', 'the light', 'free', 'hlwd', 'torrent', 'evangelism', 'apocalypse', 'revelation', 'alternate backup', 'bible offline']" 
+++

<center>[ Sito in fase di traduzione ]</center><br>
<br>
Ciao, sono un programmatore cristiano e ho creato queste app per servire il Signore.<br>
<br>
Sono disponibili 3 applicazioni per diverse configurazioni.<br>
<br>
Le app non sono le più belle delle app (Se ne avete un'altra, è perfetta), ma penso che siano utili.<br>
<br>
Le app sono offline, senza pubblicità, in inglese, francese, spagnolo, portoghese e italiano.<br>
<br>
È completamente gratuito :slight_smile:<br>
<br>
<u>Bibbie incluse</u>: Diodati, King James Version, Louis Segond, Ostervald, Reina Valera, Almeida, Schlachter, Elberfelder, Bibbia rumena (Romanian Cornilescu 1928), Bibbia polacca (Biblia Warszawska 1975), Bibbia russa (Russian Synodal Translation 1876), Bibbia turca (New Turkish Bible 2001), Bibbia swahili (Swahili Union Version 1997), Bibbia in arabo (Smith & Van Dyke), Bibbia hindi, Bibbia bengalese (Bengali C.L. Bible 2016), Bibbia cinese (Chinese Union Version Simplified), Bibbia giapponese (New Japanese Bible 1973).<br>
<br>
<blockquote><b>Giovanni 14.6</b>: Gesú gli disse: "Io sono la via, la verità e la vita; nessuno viene al Padre se non per mezzo di me."</blockquote>
<br>

<table>
<tr>
<td align="center">"The Light"</td>
<td align="center">"The Life"</td>
<td align="center">"The Sonofman"</td>
</tr>
<tr>
<td align="center" valign="top"><img src="images/thelight2.png"></td>
<td align="center" valign="top"><img src="images/thelife2.png"></td>
<td align="center" valign="top"><img src="images/som2b.png"></td>
</tr>
</table>

<hr>
<h1>“The Light” (Android, Android TV)</h1>
Contiene Bibbia Audio, Piani di lettura, Riferimenti incrociati, Armonia dei Vangeli, Versetti casuali, Interlineare, Lessici. Funziona anche su Android TV* e Chromebook.<br>
<br>
<ul><li><a href="https://play.google.com/store/apps/details?id=org.hlwd.bible">Google</a></li></ul>
<ul><li><a href="https://f-droid.org/packages/org.hlwd.bible">F-Droid</a></li></ul>
<ul><li><a href="/biblemulti/blog/note_android_tv/">* Per installare l'app su Android TV</a></li></ul>
<div style="height:8px">&nbsp</div>
<ul><li>:fire: <a href="/biblemulti/blog/torrent/">Backup alternativi</a></li></ul>

<hr>
<h1>"The Life" (iPhone, iPad, Big Sur, Mac, Linux, Android)</h1>
Semplice app per leggere la Bibbia.<br>
<br>
<ul><li><a href="https://apps.apple.com/us/app/bible-multi-the-life/id1502832136">iPhone, iPad, Big Sur</a></li> </ul>
<ul><li><a href="https://apps.apple.com/us/app/bible-multi-the-life/id1587163844">Mac</a></li></ul>
<ul><li><a href="https://snapcraft.io/bible-multi-the-life">Linux (Snap)</a></li></ul>
<ul><li><a href="https://flathub.org/apps/org.biblemulti.thelife">Linux (Flatpak)</a></li></ul>
<ul><li><a href="https://www.appimagehub.com/p/2218351">Linux (AppImage)</a></li></ul>
<ul><li><a href="https://play.google.com/store/apps/details?id=org.hlwd.bible_multi_the_life">Android (Google)</a></li></ul>
<ul><li><a href="https://f-droid.org/en/packages/org.hlwd.bible_multi_the_life">Android (F-Droid)</a></li></ul>
<div style="height:8px">&nbsp</div>
<ul><li>:fire: <a href="/biblemulti/blog/torrent/">Backup alternativi</a></li></ul>

<hr>
<h1>"The Sonofman" (Linux, tutti ARM, Mac, RaspberryPI)</h1>
<blockquote>Applicazione terminale</blockquote>
Funziona anche su Windows (Cygwin), Android (Termux) con PyPI o Git.<br>
<br>
<ul><li><a href="https://snapcraft.io/bible-multi-the-son-of-man">Snap (Linux)</a></li></ul>
<ul><li><a href="https://flathub.org/apps/details/org.hlwd.sonofman">Flatpak (Linux)</a></li></ul>
<ul><li><a href="https://pypi.org/project/sonofman">PyPI (Linux, Mac, RaspberryPI, tutti ARM)</a></li></ul>
<div style="height:8px">&nbsp</div>
<ul><li>:fire: <a href="/biblemulti/blog/torrent/">Backup alternativi</a></li></ul>

<br>
** Tutta la Gloria a Dio :heart: