+++
title = ""
date = "2022-07-10"
type = "homepage"
keywords = "['biblemulti.org', 'bible multi', bible kjv', 'kjv', 'bible app', 'bible apps', 'bible android', 'bible apk', 'bible ios', 'bible mac', 'bible linux', 'bible terminal', 'bible flatpak', 'bible snap', 'bible christian', 'christian', bible multi the light', 'biblemultithelight', bible multi the life', 'biblemultithelife', 'bible multi the son of man', 'biblemultithesonofman', 'sonofman', 'god', 'jesus', 'the life', 'the light', 'free', 'hlwd', 'torrent', 'evangelism', 'apocalypse', 'revelation', 'alternate backup', 'bible offline']" 
+++

<center>[ Site en cours de traduction ]</center><br>
<br>
Bonjour, je suis un programmeur chrétien et j'ai fait ces applications pour servir le Seigneur.<br>
<br>
3 applications sont disponibles pour plusieurs configurations.<br>  
<br>
Les apps ne sont pas les plus belles des apps (si vous en avez une autre, c'est parfait), mais je pense qu'elles sont utiles.<br>
<br>
Les apps sont hors ligne, sans publicité, en Anglais, Français, Espagnol, Portuguais, Italien.<br>
<br>
C'est entièrement gratuit :slight_smile:<br>
<br>
<u>Bibles inclues</u>: Louis Segond, Ostervald, King James Version, Diodati, Reina Valera, Almeida, Schlachter, Elberfelder, Bible roumaine (Romanian Cornilescu 1928), Bible polonaise (Biblia Warszawska 1975), Bible russe (Russian Synodal Translation 1876), Bible turque (New Turkish Bible 2001), Bible swahili (Swahili Union Version 1997), Bible arabe (Smith & Van Dyke), Bible hindi, Bible bengali (Bengali C.L. Bible 2016), Bible en chinois simplifié (Chinese Union Version Simplified), Bible japonaise (New Japanese Bible 1973).<br>
<br>
<blockquote><b>Jean 14.6</b>: Jésus lui dit: Je suis le chemin, la vérité, et la vie. Nul ne vient au Père que par moi.</blockquote>
<br>

<table>
<tr>
<td align="center">"The Light"</td>
<td align="center">"The Life"</td>
<td align="center">"The Sonofman"</td>
</tr>
<tr>
<td align="center" valign="top"><img src="images/thelight2.png"></td>
<td align="center" valign="top"><img src="images/thelife2.png"></td>
<td align="center" valign="top"><img src="images/som2b.png"></td>
</tr>
</table>

<hr>
<h1>“The Light” (Android, Android TV)</h1>
Contient la Bible Audio, des plans de lecture, des références croisées, l'harmonie des évangiles, des versets aléatoires, l'interlinéaire, des lexiques. Fonctionne également sur Android TV*, Chromebooks.<br>
<br>
<ul><li><a href="https://play.google.com/store/apps/details?id=org.hlwd.bible">Google</a></li></ul>
<ul><li><a href="https://f-droid.org/packages/org.hlwd.bible">F-Droid</a></li></ul>
<ul><li><a href="/biblemulti/blog/note_android_tv/">* Pour installer l'app sur Android TV</a></li></ul>
<div style="height:8px">&nbsp</div>
<ul><li>:fire: <a href="/biblemulti/blog/torrent/">Sauvegardes alternatives</a></li></ul>

<hr>
<h1>“The Life” (iPhone, iPad, Big Sur, Mac, Linux, Android)</h1>
App simple pour lire la Bible.<br>
<br>  
<ul><li><a href="https://apps.apple.com/us/app/bible-multi-the-life/id1502832136">iPhone, iPad, Big Sur</a></li></ul>
<ul><li><a href="https://apps.apple.com/us/app/bible-multi-the-life/id1587163844">Mac</a></li></ul>
<ul><li><a href="https://snapcraft.io/bible-multi-the-life">Linux (Snap)</a></li></ul>
<ul><li><a href="https://flathub.org/apps/org.biblemulti.thelife">Linux (Flatpak)</a></li></ul>
<ul><li><a href="https://www.appimagehub.com/p/2218351">Linux (AppImage)</a></li></ul>
<ul><li><a href="https://play.google.com/store/apps/details?id=org.hlwd.bible_multi_the_life">Android (Google)</a></li></ul>
<ul><li><a href="https://f-droid.org/en/packages/org.hlwd.bible_multi_the_life">Android (F-Droid)</a></li></ul>
<div style="height:8px">&nbsp</div>
<ul><li>:fire: <a href="/biblemulti/blog/torrent/">Sauvegardes alternatives</a></li></ul>

<hr>
<h1>“The Sonofman” (Linux, tous ARM, Mac, RaspberryPI)</h1>
<blockquote>Application de terminal</blockquote>
Fonctionne aussi sous Windows (Cygwin), Android (Termux) avec PyPI ou Git.<br>
<br>
<ul><li><a href="https://snapcraft.io/bible-multi-the-son-of-man">Snap (Linux)</a></li></ul>
<ul><li><a href="https://flathub.org/apps/details/org.hlwd.sonofman">Flatpak (Linux)</a></li></ul>
<ul><li><a href="https://pypi.org/project/sonofman">PyPI (Linux, Mac, RaspberryPI, tous ARM)</a></li></ul>
<div style="height:8px">&nbsp</div>
<ul><li>:fire: <a href="/biblemulti/blog/torrent/">Sauvegardes alternatives</a></li></ul>

<br>
** A Dieu Toute La Gloire :heart:
