+++
title = ""
date = "2022-07-10"
type = "homepage"
keywords = "['biblemulti.org', 'bible multi', bible kjv', 'kjv', 'bible app', 'bible apps', 'bible android', 'bible apk', 'bible ios', 'bible mac', 'bible linux', 'bible terminal', 'bible flatpak', 'bible snap', 'bible christian', 'christian', bible multi the light', 'biblemultithelight', bible multi the life', 'biblemultithelife', 'bible multi the son of man', 'biblemultithesonofman', 'sonofman', 'god', 'jesus', 'the life', 'the light', 'free', 'hlwd', 'torrent', 'evangelism', 'apocalypse', 'revelation', 'alternate backup', 'bible offline']" 
+++

<center>[ Sitio que se está traduciendo ]</center><br>
<br>
Hola, soy un programador cristiano e hice estas aplicaciones para servir al Señor.<br>
<br>
Hay 3 aplicaciones disponibles para varias configuraciones.<br>
<br>
Las aplicaciones no son las más bonitas (si tienes otra, genial), pero creo que son útiles.<br>
<br>
Las aplicaciones están sin conexión, sin publicidad, en inglés, francés, español, portugués e italiano.<br>
<br>
Es completamente gratis :slight_smile:<br>
<br>
<u>Biblias incluidas</u>: Reina Valera, King James Version, Louis Segond, Ostervald, Diodati, Almeida, Schlachter, Elberfelder, Biblia rumana (Romanian Cornilescu 1928), Biblia polaca (Biblia Warszawska 1975), Biblia rusa (Russian Synodal Translation 1876), Biblia turca (New Turkish Bible 2001), Biblia suajili (Swahili Union Version 1997), Biblia árabe (Smith & Van Dyke), Biblia hindi, Biblia bengalí (Bengali C.L. Bible 2016), Biblia china (Chinese Union Version Simplified), Biblia japonesa (New Japanese Bible 1973).<br>
<br>
<blockquote><b>Juan 14.6</b>: Jesús le dijo: —Yo soy el camino, la verdad y la vida; nadie viene al Padre, sino por mí.</blockquote>
<br>

<table>
<tr>
<td align="center">"The Light"</td>
<td align="center">"The Life"</td>
<td align="center">"The Sonofman"</td>
</tr>
<tr>
<td align="center" valign="top"><img src="images/thelight2.png"></td>
<td align="center" valign="top"><img src="images/thelife2.png"></td>
<td align="center" valign="top"><img src="images/som2b.png"></td>
</tr>
</table>

<hr>
<h1>"The Light“ (Android, Android TV)</h1>
Contiene Biblia en Audio, Planes de lectura, Referencias cruzadas, Armonía de Evangelios, Versos aleatorios, Interlineal, Lexicales. También funciona en Android TV*, Chromebooks.<br>
<br>
<ul><li><a href="https://play.google.com/store/apps/details?id=org.hlwd.bible">Google</a></li></ul>
<ul><li><a href="https://f-droid.org/packages/org.hlwd.bible">F-Droid</a></li></ul>
<ul><li><a href="/biblemulti/blog/note_android_tv/">* Para instalar la aplicación en Android TV</a></li></ul>
<div style="height:8px">&nbsp</div>
<ul><li>:fire: <a href="/biblemulti/blog/torrent/">Copias de seguridad alternativas</a></li></ul>

<hr>
<h1>"The Life" (iPhone, iPad, Big Sur, Mac, Linux, Android)</h1>
Aplicación sencilla para leer la Biblia.<br>
<br>
<ul><li><a href="https://apps.apple.com/us/app/bible-multi-the-life/id1502832136">iPhone, iPad, Big Sur</a></li> </ul>
<ul><li><a href="https://apps.apple.com/us/app/bible-multi-the-life/id1587163844">Mac</a></li></ul>
<ul><li><a href="https://snapcraft.io/bible-multi-the-life">Linux (Snap)</a></li></ul>
<ul><li><a href="https://flathub.org/apps/org.biblemulti.thelife">Linux (Flatpak)</a></li></ul>
<ul><li><a href="https://www.appimagehub.com/p/2218351">Linux (AppImage)</a></li></ul>
<ul><li><a href="https://play.google.com/store/apps/details?id=org.hlwd.bible_multi_the_life">Android (Google)</a></li></ul>
<ul><li><a href="https://f-droid.org/en/packages/org.hlwd.bible_multi_the_life">Android (F-Droid)</a></li></ul>
<div style="height:8px">&nbsp</div>
<ul><li>:fire: <a href="/biblemulti/blog/torrent/">Copias de seguridad alternativas</a></li></ul>

<hr>
<h1>“The Sonofman” (Linux, todos ARM, Mac, RaspberryPI)</h1>
<blockquote>Aplicación de terminal</blockquote>
También funciona en Windows (Cygwin), Android (Termux) con PyPI o Git.<br>
<br>
<ul><li><a href="https://snapcraft.io/biblia-multi-el-hijo-del-hombre">Snap (Linux)</a></li></ul>
<ul><li><a href="https://flathub.org/apps/details/org.hlwd.sonofman">Flatpak (Linux)</a></li></ul>
<ul><li><a href="https://pypi.org/project/sonofman">PyPI (Linux, Mac, RaspberryPI, todos ARM)</a></li></ul>
<div style="height:8px">&nbsp</div>
<ul><li>:fire: <a href="/biblemulti/blog/torrent/">Copias de seguridad alternativas</a></li></ul>

<br>
** Toda la Gloria a Dios :heart: